@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Nunito:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  outline: 0 none;
  --font-nunito: "Nunito", sans-serif;
  --font-lato: "Lato", sans-serif;
}

html,
body {
  margin-top: 2rem;
  overflow-x: hidden;
}

ul {
  list-style: none inside;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: var(--font-nunito);
}

p,
li {
  font-family: var(--font-lato);
}

@media only screen and (max-width: 768px) {
  #root {
    margin-top: 0.1rem;
    overflow-x: hidden;
  }
}
