*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  outline: 0 none;
}

html,
body {
  margin-top: 2rem;
  overflow: hidden;
}

ul {
  list-style: none inside;
}

a {
  text-decoration: none;
  color: inherit;
}
